[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/palenight"]
	path = pack/plugins/start/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/vim-identline"]
	path = pack/plugins/start/vim-identline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/coc"]
	path = pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim.git
